body{
    font-family: 'MedievalSharp', cursive;
    background-image: url('../img/wall.jpg');
}
input{
    width: 128px; 
    height: 128px;
    padding:10px;
}
.hide{
    display: none!important;
}
img{
    width: 128px; 
    height: 128px;
    padding:10px;
}
input:hover{
    margin:-5px;
    border: 5px solid white;
}
[data-choice="true"]{
    margin:-5px;
    border: 5px solid blue;
}
h1{
    display: flex;
    margin:auto;
    box-sizing:border-box;
    border-width: 5px;
    border:solid;
    border-color: rgba(255, 69, 0, 1);
    border-radius: 5px;
    padding: 7px;
    background-color: rgba(255, 69, 0, 0.7);
    justify-content: center;
    font-size: 60px;
    color:whitesmoke;
}

.gameLayout{
    display: flex;
    flex-direction: row;
    width: auto;
    border: 5px solid white;
}
.inputWindow{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(255, 69, 0, 0.9);
    border: 5px solid white;
}
.outputWindow{
    display: flex;
    box-sizing: border-box;
    width:60%;
    height:100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 69, 0, 0.9);
    border: 5px solid white;
}

.scoreBoard{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 2% 5%;
    height: 10%;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 5px solid white;
}
#start,#go,#replay{
    border-width: 2px;
    border-style: outset;
    border-color: gold;
    padding:25px;
    background-color: brown;
    color: white;
    font-size: large;
}
#start{
    position: absolute;
    max-width: 10vw;
    margin: 5% 45%;
}

#start:hover,#restart:hover{
    box-shadow: 0px 0px 20px 10px rgba(255, 217, 0, 0.7);
}

.scoreTrack{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 2% 5%;
    height: 10%;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 5px solid white;
}

.winnerRow{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 1% 5%;
    height: 10%;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 5px solid white;
}